<div class="mainLogin">
  <div class="formLogin">
    <div class="logo">
      <img src="../../../favicon.png"  width="200" height="200"/>
    </div>
    <p class="description">Ingrese la nueva contraseña y la confirmación de la misma</p>
    <mat-form-field class="field">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="password" />
    </mat-form-field>
    <br />
    <mat-form-field class="field">
      <mat-label>Confirmación contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="confirmPassword" />
    </mat-form-field>
    <div class="btnLoginContainer">
      <button mat-flat-button color="accent" (click)="changePass()" [disabled]="loading">
        <span *ngIf="!loading">Cambiar</span>
        <mat-spinner *ngIf="loading" color="accent" diameter="20"></mat-spinner>
      </button>
    </div>
  </div>
</div>
