.mainLogin {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(36,179,217,1) 0%, rgba(0,126,203,1) 100%);
}

.formLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.btnLoginContainer {
  width: 100%;
  text-align: right;
}

.field {
  min-width: 250px;
  width: 400px;
}

.logo {
  text-align: center;
}

.description {
  color: #FAFAFA;
  width: 400px;
}
