<mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>
<form class="formContainer" [formGroup]="_form" (ngSubmit)="submit()">
  <h2>{{title}}</h2>
  <div>
    <mat-form-field class="field">
      <mat-label>ID</mat-label>
      <input matInput type="number" formControlName="id" readonly />
      <mat-error *ngIf="_form.controls['id'].invalid && (_form.controls['id'].dirty || _form.controls['id'].touched)">{{ getError('id') }}</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="field">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="name" [readonly]="loading" />
      <mat-error *ngIf="_form.controls['name'].invalid && (_form.controls['name'].dirty || _form.controls['name'].touched)">{{ getError('name') }}</mat-error>
    </mat-form-field>
    <br />
    <editor [init]="{
            plugins: 'lists link image table code help wordcount',
            toolbar: 'undo redo | blocks | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | help'
            }"
            formControlName="content"
            apiKey="juyhd7j8dn8a2xl096y274tjoekaoipbuk9m3256synwzr7e">
    </editor>
    <div class="field buttons">
      <button mat-flat-button color="accent" (click)="back()" [disabled]="loading">
        <span>Volver</span>
      </button>
      &nbsp;
      <button mat-flat-button color="primary" type="submit" [disabled]="loading || _form.status === 'INVALID'">
        <span>Guardar</span>
      </button>
    </div>
  </div>
</form>
