table {
  width: 100%;
}

.mat-column-id, .mat-column-edit, .mat-column-delete, .mat-column-apps, .mat-column-users {
  width: 30px;
}

.ag-root-wrapper-body .ag-layout-normal {
  height: 100% !important;
}
