<div class="formContainer">
  <h1>{{title}}</h1>
  <div>
    <mat-form-field class="field">
      <mat-label>ID</mat-label>
      <input matInput type="number" [(ngModel)]="notification.id" readonly />
    </mat-form-field>
    <br />
    <mat-form-field class="field">
      <mat-label>Fecha</mat-label>
      <input matInput type="text" [(ngModel)]="notification.date" readonly />
    </mat-form-field>
    <br />
    <mat-form-field class="field">
      <mat-label>Destinatario</mat-label>
      <input matInput type="text" [(ngModel)]="notification.to" readonly />
    </mat-form-field>
    <br />
    <mat-form-field class="field">
      <mat-label>Asunto</mat-label>
      <input matInput type="text" [(ngModel)]="notification.subject" readonly />
    </mat-form-field>
    <br />
    <editor [init]="{
            plugins: 'lists link image table code help wordcount',
            toolbar: 'undo redo | blocks | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | help'
            }"
            [(ngModel)]="notification.content"
            apiKey="juyhd7j8dn8a2xl096y274tjoekaoipbuk9m3256synwzr7e">
    </editor>
    <div class="field buttons">
      <button mat-flat-button color="accent" (click)="back()" [disabled]="loading">
        <span>Volver</span>
      </button>
    </div>
  </div>
</div>
