<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Golden Web</span>
  <span class="spacer"></span>
  <span>{{ user }}</span>
  <button mat-icon-button [routerLink]="['/logout']">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="auth">Autenticación</button>
  <button mat-menu-item [matMenuTriggerFor]="config">Configuración</button>
</mat-menu>
<mat-menu #auth="matMenu">
  <a mat-menu-item [routerLink]="['/home/apps']">Aplicaciones</a>
  <a mat-menu-item [routerLink]="['/home/roles']">Roles</a>
  <a mat-menu-item [routerLink]="['/home/users']">Usuarios</a>
</mat-menu>
<mat-menu #config="matMenu">
  <a mat-menu-item [routerLink]="['/home/countries']">Paises</a>
  <a mat-menu-item [routerLink]="['/home/cities']">Ciudades</a>
  <a mat-menu-item [routerLink]="['/home/plans']">Planes</a>
</mat-menu>
<router-outlet></router-outlet>
