name: Compilar Web
on:
  push:
    branches:
      - "main"
      - "test"
      - "dev"
jobs:
  build:
    runs-on: [self-hosted, '${{ github.ref_name }}']
    env:
      solution: Web
      version: 1.0.${{ github.run_number }}
      image_name: ${{ github.repository }}
      username: leandrobaena@gmail.com
      sonarQubeKey: sqa_c24b73b519e482496ce1070a56f68c87a1c384c5

    steps:
    - name: Descarga del código
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Instalar paquetes
      run: pushd ${{ github.workspace }}; npm install;

    - name: Reemplazar version
      uses: prabhakarareddygaddam-mcd/replace-action@1.0.0
      with:
        files: src/environment/environment.ts
        replacements: 1.0.0=${{ env.version }}

    - name: Reemplazar direcciones
      if: ${{ github.ref_name == 'dev' || github.ref_name == 'test' }}
      uses: prabhakarareddygaddam-mcd/replace-action@1.0.0
      with:
        files: src/environment/environment.ts
        replacements: https://localhost:30001/=https://192.168.1.4:31001/

    - name: Reemplazar variables
      if: ${{ github.ref_name == 'main' }}
      uses: prabhakarareddygaddam-mcd/replace-action@1.0.0
      with:
        files: src/environment/environment.ts
        replacements: https://localhost:30001/=https://192.168.1.7:30001/

    - name: Compilar la solución
      run: ng build;

    - name: Ejecutar SonarQube
      if: ${{ github.ref_name == 'dev' }}
      run: sonar-scanner

    - name: Conectar al repositorio de imágenes
      run: docker login ghcr.io -u ${{ env.username }} -p ${{ secrets.GITHUB_TOKEN }}

    - name: Construir imagen Docker
      run: docker build . -t ghcr.io/inglesefe/web:${{ env.version }} -t ghcr.io/inglesefe/web:latest

    - name: Publicar imagen Docker
      run: docker push -a ghcr.io/inglesefe/web

    - name: Reemplazar variables
      if: ${{ github.ref_name == 'dev' || github.ref_name == 'main' }}
      uses: prabhakarareddygaddam-mcd/replace-action@1.0.0
      with:
        files: deploy.yml
        replacements: --version--=${{ env.version }},--environment--=${{ github.ref_name }},--portHttp--=30100,--portHttps--=30101

    - name: Reemplazar variables
      if: ${{ github.ref_name == 'test' }}
      uses: prabhakarareddygaddam-mcd/replace-action@1.0.0
      with:
        files: deploy.yml
        replacements: --version--=${{ env.version }},--environment--=${{ github.ref_name }},--portHttp--=31100,--portHttps--=31101

    - name: Desplegar en Kubernetes
      run: kubectl apply -f ${{ github.workspace }}\deploy.yml
